.comment{
	
	margin: 10px;
	padding-left: $default-spacing + 10px;
	position: relative;

	&:before{
		position: absolute;
		left: 0;
		top: 0;
		width: $default-spacing;
		height: $default-spacing;
		content: '';
		background: url(../../img/avatar.svg) no-repeat;
	}

}

	.comment--body{
		
	}

	.comment--meta{
		@include font-label-small;
		color: $grey-800;
	}