@import url("https://fonts.googleapis.com/css?family=Montserrat:700|Work+Sans");
.ct-label {
  fill: rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.75rem;
  line-height: 1; }

.ct-chart-line .ct-label,
.ct-chart-bar .ct-label {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.ct-chart-pie .ct-label,
.ct-chart-donut .ct-label {
  dominant-baseline: central; }

.ct-label.ct-horizontal.ct-start {
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start; }

.ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start; }

.ct-label.ct-vertical.ct-start {
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  text-align: right;
  text-anchor: end; }

.ct-label.ct-vertical.ct-end {
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start; }

.ct-chart-bar .ct-label.ct-horizontal.ct-start {
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-anchor: start; }

.ct-chart-bar .ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-anchor: start; }

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-start {
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start; }

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start; }

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-start {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  text-align: right;
  text-anchor: end; }

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-end {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: end; }

.ct-grid {
  stroke: rgba(0, 0, 0, 0.2);
  stroke-width: 1px;
  stroke-dasharray: 2px; }

.ct-grid-background {
  fill: none; }

.ct-point {
  stroke-width: 10px;
  stroke-linecap: round; }

.ct-line {
  fill: none;
  stroke-width: 4px; }

.ct-area {
  stroke: none;
  fill-opacity: 0.1; }

.ct-bar {
  fill: none;
  stroke-width: 10px; }

.ct-slice-donut {
  fill: none;
  stroke-width: 60px; }

.ct-series-a .ct-point, .ct-series-a .ct-line, .ct-series-a .ct-bar, .ct-series-a .ct-slice-donut {
  stroke: #d70206; }

.ct-series-a .ct-slice-pie, .ct-series-a .ct-area {
  fill: #d70206; }

.ct-series-b .ct-point, .ct-series-b .ct-line, .ct-series-b .ct-bar, .ct-series-b .ct-slice-donut {
  stroke: #f05b4f; }

.ct-series-b .ct-slice-pie, .ct-series-b .ct-area {
  fill: #f05b4f; }

.ct-series-c .ct-point, .ct-series-c .ct-line, .ct-series-c .ct-bar, .ct-series-c .ct-slice-donut {
  stroke: #f4c63d; }

.ct-series-c .ct-slice-pie, .ct-series-c .ct-area {
  fill: #f4c63d; }

.ct-series-d .ct-point, .ct-series-d .ct-line, .ct-series-d .ct-bar, .ct-series-d .ct-slice-donut {
  stroke: #d17905; }

.ct-series-d .ct-slice-pie, .ct-series-d .ct-area {
  fill: #d17905; }

.ct-series-e .ct-point, .ct-series-e .ct-line, .ct-series-e .ct-bar, .ct-series-e .ct-slice-donut {
  stroke: #453d3f; }

.ct-series-e .ct-slice-pie, .ct-series-e .ct-area {
  fill: #453d3f; }

.ct-series-f .ct-point, .ct-series-f .ct-line, .ct-series-f .ct-bar, .ct-series-f .ct-slice-donut {
  stroke: #59922b; }

.ct-series-f .ct-slice-pie, .ct-series-f .ct-area {
  fill: #59922b; }

.ct-series-g .ct-point, .ct-series-g .ct-line, .ct-series-g .ct-bar, .ct-series-g .ct-slice-donut {
  stroke: #0544d3; }

.ct-series-g .ct-slice-pie, .ct-series-g .ct-area {
  fill: #0544d3; }

.ct-series-h .ct-point, .ct-series-h .ct-line, .ct-series-h .ct-bar, .ct-series-h .ct-slice-donut {
  stroke: #6b0392; }

.ct-series-h .ct-slice-pie, .ct-series-h .ct-area {
  fill: #6b0392; }

.ct-series-i .ct-point, .ct-series-i .ct-line, .ct-series-i .ct-bar, .ct-series-i .ct-slice-donut {
  stroke: #f05b4f; }

.ct-series-i .ct-slice-pie, .ct-series-i .ct-area {
  fill: #f05b4f; }

.ct-series-j .ct-point, .ct-series-j .ct-line, .ct-series-j .ct-bar, .ct-series-j .ct-slice-donut {
  stroke: #dda458; }

.ct-series-j .ct-slice-pie, .ct-series-j .ct-area {
  fill: #dda458; }

.ct-series-k .ct-point, .ct-series-k .ct-line, .ct-series-k .ct-bar, .ct-series-k .ct-slice-donut {
  stroke: #eacf7d; }

.ct-series-k .ct-slice-pie, .ct-series-k .ct-area {
  fill: #eacf7d; }

.ct-series-l .ct-point, .ct-series-l .ct-line, .ct-series-l .ct-bar, .ct-series-l .ct-slice-donut {
  stroke: #86797d; }

.ct-series-l .ct-slice-pie, .ct-series-l .ct-area {
  fill: #86797d; }

.ct-series-m .ct-point, .ct-series-m .ct-line, .ct-series-m .ct-bar, .ct-series-m .ct-slice-donut {
  stroke: #b2c326; }

.ct-series-m .ct-slice-pie, .ct-series-m .ct-area {
  fill: #b2c326; }

.ct-series-n .ct-point, .ct-series-n .ct-line, .ct-series-n .ct-bar, .ct-series-n .ct-slice-donut {
  stroke: #6188e2; }

.ct-series-n .ct-slice-pie, .ct-series-n .ct-area {
  fill: #6188e2; }

.ct-series-o .ct-point, .ct-series-o .ct-line, .ct-series-o .ct-bar, .ct-series-o .ct-slice-donut {
  stroke: #a748ca; }

.ct-series-o .ct-slice-pie, .ct-series-o .ct-area {
  fill: #a748ca; }

.ct-square {
  display: block;
  position: relative;
  width: 100%; }
  .ct-square:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 100%; }
  .ct-square:after {
    content: "";
    display: table;
    clear: both; }
  .ct-square > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-minor-second {
  display: block;
  position: relative;
  width: 100%; }
  .ct-minor-second:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 93.75%; }
  .ct-minor-second:after {
    content: "";
    display: table;
    clear: both; }
  .ct-minor-second > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-major-second {
  display: block;
  position: relative;
  width: 100%; }
  .ct-major-second:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 88.8888888889%; }
  .ct-major-second:after {
    content: "";
    display: table;
    clear: both; }
  .ct-major-second > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-minor-third {
  display: block;
  position: relative;
  width: 100%; }
  .ct-minor-third:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 83.3333333333%; }
  .ct-minor-third:after {
    content: "";
    display: table;
    clear: both; }
  .ct-minor-third > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-major-third {
  display: block;
  position: relative;
  width: 100%; }
  .ct-major-third:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 80%; }
  .ct-major-third:after {
    content: "";
    display: table;
    clear: both; }
  .ct-major-third > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-perfect-fourth {
  display: block;
  position: relative;
  width: 100%; }
  .ct-perfect-fourth:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 75%; }
  .ct-perfect-fourth:after {
    content: "";
    display: table;
    clear: both; }
  .ct-perfect-fourth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-perfect-fifth {
  display: block;
  position: relative;
  width: 100%; }
  .ct-perfect-fifth:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 66.6666666667%; }
  .ct-perfect-fifth:after {
    content: "";
    display: table;
    clear: both; }
  .ct-perfect-fifth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-minor-sixth {
  display: block;
  position: relative;
  width: 100%; }
  .ct-minor-sixth:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 62.5%; }
  .ct-minor-sixth:after {
    content: "";
    display: table;
    clear: both; }
  .ct-minor-sixth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-golden-section {
  display: block;
  position: relative;
  width: 100%; }
  .ct-golden-section:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 61.804697157%; }
  .ct-golden-section:after {
    content: "";
    display: table;
    clear: both; }
  .ct-golden-section > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-major-sixth {
  display: block;
  position: relative;
  width: 100%; }
  .ct-major-sixth:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 60%; }
  .ct-major-sixth:after {
    content: "";
    display: table;
    clear: both; }
  .ct-major-sixth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-minor-seventh {
  display: block;
  position: relative;
  width: 100%; }
  .ct-minor-seventh:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 56.25%; }
  .ct-minor-seventh:after {
    content: "";
    display: table;
    clear: both; }
  .ct-minor-seventh > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-major-seventh {
  display: block;
  position: relative;
  width: 100%; }
  .ct-major-seventh:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 53.3333333333%; }
  .ct-major-seventh:after {
    content: "";
    display: table;
    clear: both; }
  .ct-major-seventh > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-octave {
  display: block;
  position: relative;
  width: 100%; }
  .ct-octave:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 50%; }
  .ct-octave:after {
    content: "";
    display: table;
    clear: both; }
  .ct-octave > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-major-tenth {
  display: block;
  position: relative;
  width: 100%; }
  .ct-major-tenth:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 40%; }
  .ct-major-tenth:after {
    content: "";
    display: table;
    clear: both; }
  .ct-major-tenth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-major-eleventh {
  display: block;
  position: relative;
  width: 100%; }
  .ct-major-eleventh:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 37.5%; }
  .ct-major-eleventh:after {
    content: "";
    display: table;
    clear: both; }
  .ct-major-eleventh > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-major-twelfth {
  display: block;
  position: relative;
  width: 100%; }
  .ct-major-twelfth:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 33.3333333333%; }
  .ct-major-twelfth:after {
    content: "";
    display: table;
    clear: both; }
  .ct-major-twelfth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-double-octave {
  display: block;
  position: relative;
  width: 100%; }
  .ct-double-octave:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 25%; }
  .ct-double-octave:after {
    content: "";
    display: table;
    clear: both; }
  .ct-double-octave > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

body {
  font-family: helvetica, sans;
  font-size: 18px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  color: #2C3E50;
  height: 100vh;
  width: 100vw; }
  body.s-no-scroll {
    overflow-y: hidden; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5 {
  margin-top: 0;
  color: inherit;
  font-family: 'Montserrat', helvetica, sans-serif; }

h1 {
  font-size: 1.9rem;
  margin-bottom: 3px; }

h2 {
  font-size: 1.7rem;
  margin-bottom: 30px; }

h3 {
  font-size: 1.3rem;
  margin-bottom: 15px; }

h4 {
  margin-bottom: 15px; }

h5 {
  margin-bottom: 10px; }

p {
  font-size: 18px;
  line-height: 1.4rem;
  margin-top: 0;
  margin-bottom: 0; }

.p-100 {
  font-size: 1rem;
  line-height: 1.6rem; }

a {
  color: inherit;
  text-decoration: none;
  outline: none; }
  a:hover {
    text-decoration: underline;
    outline: none; }
  a:active, a:focus {
    outline: none; }
  a.a--img {
    line-height: 0;
    display: inline-block;
    max-width: 100%; }
    a.a--img img {
      max-width: 100%; }

hr {
  height: 0;
  border: none;
  border-bottom: 1px solid #bdc3c7; }

.link {
  color: #2ecc71;
  text-decoration: underline; }

.logo {
  display: inline-block;
  width: 200px;
  height: 46px;
  margin: 10px 5px 10px 10px;
  -webkit-transform: scale(1.15) translateX(15px);
          transform: scale(1.15) translateX(15px); }

body {
  font-family: 'Work Sans', helvetica, sans-serif; }

body {
  font-size: 18px;
  margin-top: 6px;
  margin-bottom: -6px; }

@font-face {
  font-family: 'climbicons';
  src: url("../font/climbicons.eot?wwv1tm");
  src: url("../font/climbicons.eot?wwv1tm#iefix") format("embedded-opentype"), url("../font/climbicons.ttf?wwv1tm") format("truetype"), url("../font/climbicons.woff?wwv1tm") format("woff"), url("../font/climbicons.svg?wwv1tm#climbicons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'climbicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-star_filled:before, .stars input:nth-child(1):checked ~ label:nth-of-type(-n + 1):before,
.stars input:nth-child(2):checked ~ label:nth-of-type(-n + 2):before,
.stars input:nth-child(3):checked ~ label:nth-of-type(-n + 3):before,
.stars input:nth-child(4):checked ~ label:nth-of-type(-n + 4):before,
.stars input:nth-child(5):checked ~ label:nth-of-type(-n + 5):before {
  content: "\e902"; }

.icon-send:before {
  content: "\e901"; }

.icon-eye_closed:before {
  content: "\e900"; }

.icon-eye:before {
  content: "\e000"; }

.icon-cog:before {
  content: "\e023"; }

.icon-reply:before {
  content: "\e039"; }

.icon-circle-plus:before {
  content: "\e040"; }

.icon-circle-minus:before {
  content: "\e041"; }

.icon-circle-check:before {
  content: "\e042"; }

.icon-circle-cross:before {
  content: "\e043"; }

.icon-repeat:before {
  content: "\e058"; }

.icon-upload:before {
  content: "\e068"; }

.icon-download:before {
  content: "\e069"; }

.icon-star:before, .stars label:before {
  content: "\e093"; }

.icon-arrow-left:before {
  content: "\e094"; }

.icon-arrow-right:before {
  content: "\e095"; }

.icon-arrow-up:before {
  content: "\e096"; }

.icon-arrow-down:before {
  content: "\e097"; }

.icon-plus:before {
  content: "\e114"; }

.icon-minus:before {
  content: "\e115"; }

.icon-check:before {
  content: "\e116"; }

.icon-cross:before {
  content: "\e117"; }

.icon-delete:before {
  content: "\e119"; }

.icon-outbox:before {
  content: "\e123"; }

.icon-open:before {
  content: "\e128"; }

.icon-ellipsis:before {
  content: "\e129"; }

.app-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.grid--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: streetch;
      -ms-flex-align: streetch;
          align-items: streetch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.grid--item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.user--qrcode {
  width: 100%;
  max-width: 100%; }

.page_static {
  background-color: #ECF0F1; }

.container {
  max-width: 800px;
  margin: 0 auto; }

.container_centered {
  max-width: 500px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5); }

.container_dark {
  background-color: #34495E;
  color: white; }

.container--body {
  padding: 30px;
  overflow: hidden; }

.container--controls {
  background-color: #2ecc71;
  padding: 10px 30px;
  overflow: hidden; }

.container--error {
  background-color: #e74c3c;
  color: white;
  padding: 10px 30px; }

.button_create {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: #2ecc71; }

.button--text {
  border: none;
  cursor: pointer;
  border: 2px solid transparent;
  -webkit-transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
  transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
  cursor: pointer;
  padding: 12px 15px;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 7px;
  margin-bottom: -7px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px; }
  .button--text:focus {
    outline: none;
    border-color: white; }
  .button--text:focus {
    outline: none; }

.button--bare {
  border: none;
  cursor: pointer;
  border: 2px solid transparent;
  -webkit-transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
  transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
  cursor: pointer;
  padding: 12px 15px;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 7px;
  margin-bottom: -7px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: transparent;
  color: white; }
  .button--bare:focus {
    outline: none;
    border-color: white; }
  .button--bare:focus {
    outline: none; }
  .button--bare:hover {
    background-color: rgba(0, 0, 0, 0.1); }

.button--green {
  background-color: #2ecc71;
  color: white; }
  .button--green:hover {
    background-color: #27AE60; }

.button--green_dark {
  background-color: #27AE60;
  color: white; }
  .button--green_dark:hover {
    background-color: #1e8449; }

.button--blue {
  background-color: #3498db;
  color: white; }
  .button--blue:hover {
    background-color: #2980B9; }

.button--red {
  background-color: #e74c3c;
  color: white; }
  .button--red:hover {
    background-color: #C0392B; }

.button--transparent_blue {
  background-color: transparent;
  color: #3498db; }
  .button--transparent_blue:hover {
    color: #2980B9; }

.button--transparent_grey {
  background-color: transparent;
  color: #34495E; }
  .button--transparent_grey:hover {
    color: #3498db; }

.button--transparent_white {
  background-color: transparent;
  color: white; }
  .button--transparent_white:hover {
    color: #ECF0F1; }

.button_fab {
  border: none;
  cursor: pointer;
  border: 2px solid transparent;
  -webkit-transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
  transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
  cursor: pointer;
  width: 60px;
  height: 60px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  font-size: 30px;
  font-weight: 700;
  color: white;
  text-align: center;
  line-height: 60px;
  background-color: #2ecc71;
  transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
  border-radius: 60px; }
  .button_fab:focus {
    outline: none;
    border-color: white; }
  .button_fab:hover {
    background-color: #27AE60;
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }

.button--icon_small {
  border: none;
  cursor: pointer;
  border: 2px solid transparent;
  -webkit-transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
  transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
  cursor: pointer;
  border: 2px solid transparent;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 24px; }
  .button--icon_small:focus {
    outline: none;
    border-color: white; }
  .button--icon_small:focus {
    border-color: #2ecc71; }

.overlay {
  position: fixed;
  top: 100vh;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
  transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1); }
  .overlay.s-visible {
    top: 0; }

.overlay--content {
  width: 500px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  background-color: white; }

.overlay--body {
  padding: 30px;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  overflow-y: auto; }

.overlay--heading {
  margin-bottom: 30px; }

.overlay--section {
  border-top: 1px solid #bdc3c7;
  border-bottom: 1px solid #bdc3c7;
  padding: 15px 0;
  margin: 15px 0; }
  .overlay--heading + .overlay--section {
    margin-top: 0;
    padding-top: 0;
    border-top: none; }

.overlay--controls {
  -webkit-box-flex: 75px;
      -ms-flex: 75px;
          flex: 75px;
  padding: 10px 30px;
  background-color: #2ecc71;
  text-align: center; }

.overlay--error {
  -webkit-box-flex: 50px;
      -ms-flex: 50px;
          flex: 50px;
  background-color: #e74c3c;
  color: white; }

.overlay--confirm {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  overflow: hidden;
  -webkit-transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
  transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1); }
  .overlay--confirm.s-visible {
    top: 0; }
    .overlay--confirm.s-visible .confirm--content {
      -webkit-transform: translateY(0);
              transform: translateY(0); }

.confirm--content {
  background-color: #962d22;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px;
  -webkit-transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
  transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
  -webkit-transform: translateY(100%);
          transform: translateY(100%); }

.toast {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white; }
  .toast.toast_success {
    background-color: #27AE60; }

.comment {
  margin: 10px;
  padding-left: 40px;
  position: relative; }
  .comment:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    content: '';
    background: url(../../img/avatar.svg) no-repeat; }

.comment--meta {
  font-size: 14px;
  margin-top: 7px;
  margin-bottom: -7px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  color: #bdc3c7; }

.field--container {
  overflow: hidden;
  position: relative;
  margin-bottom: 24px; }
  .field--container > label {
    font-size: 14px;
    margin-top: 7px;
    margin-bottom: -7px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    width: 30%;
    display: inline-block; }

.field--setting {
  float: right;
  width: 70%;
  display: inline-block;
  padding-bottom: 6px; }

.field_text {
  background-color: white;
  border: none;
  border-bottom: 2px solid #2ecc71;
  padding-bottom: 8px;
  width: 100%;
  font-size: 18px;
  margin-top: 6px;
  margin-bottom: -6px; }
  .field_text:placeholder {
    color: rgba(0, 0, 0, 0.4); }
  .field_text:focus {
    border-bottom-color: #25a25a;
    outline: none; }
  .field_text:hover {
    border-bottom-color: #54d98c; }
  .field_text.s-error {
    border-bottom-color: #e74c3c; }

.field_text_bound {
  background-color: white;
  border: none;
  border-bottom: 2px solid #2ecc71;
  padding-bottom: 8px;
  width: 100%;
  font-size: 18px;
  margin-top: 6px;
  margin-bottom: -6px;
  margin-bottom: 20px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  padding: 8px;
  display: inline-block;
  max-width: 300px; }
  .field_text_bound:placeholder {
    color: rgba(0, 0, 0, 0.4); }
  .field_text_bound:focus {
    border-bottom-color: #25a25a;
    outline: none; }
  .field_text_bound:hover {
    border-bottom-color: #54d98c; }
  .field_text_bound.s-error {
    border-bottom-color: #e74c3c; }
  .field_text_bound:focus {
    outline: none;
    border-color: #27AE60; }
  .field_text_bound:hover {
    border-color: #2ecc71; }

.field_textarea {
  background-color: white;
  border: none;
  border-bottom: 2px solid #2ecc71;
  padding-bottom: 8px;
  width: 100%;
  font-size: 18px;
  margin-top: 6px;
  margin-bottom: -6px;
  resize: none; }
  .field_textarea:placeholder {
    color: rgba(0, 0, 0, 0.4); }
  .field_textarea:focus {
    border-bottom-color: #25a25a;
    outline: none; }
  .field_textarea:hover {
    border-bottom-color: #54d98c; }
  .field_textarea.s-error {
    border-bottom-color: #e74c3c; }
  .field_textarea:empty:before {
    content: attr(data-placeholder);
    color: rgba(0, 0, 0, 0.4); }

.field_comment {
  background-color: #eeeeee;
  padding: 8px 20px;
  margin-right: 50px;
  border: 2px solid white;
  border-radius: 20px;
  resize: none;
  font-size: 18px;
  margin-top: 6px;
  margin-bottom: -6px; }
  .field_comment:empty:before {
    content: attr(data-placeholder);
    color: rgba(0, 0, 0, 0.4); }
  .field_comment:focus {
    outline: none;
    border-color: #7F8C8D; }

.field--submit {
  position: absolute;
  right: 0;
  top: -5px;
  margin-top: 6px;
  line-height: 34px; }

password, emailinput, textinput, starrating {
  display: inline-block;
  width: 100%;
  position: relative; }

.password-toggle-vis {
  position: absolute;
  right: 0;
  bottom: -5px; }

.field--error {
  font-size: 14px;
  margin-top: 7px;
  margin-bottom: -7px;
  color: #e74c3c;
  text-align: center; }

.field--select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 12px 40px 15px 15px;
  position: relative;
  cursor: pointer;
  border: none;
  font-size: 14px;
  margin-top: 7px;
  margin-bottom: -7px;
  background: white url("data:image/svg+xml;utf8,<svg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 9'><path d='M13,14.09l5.29-5.3a1,1,0,0,1,1.42,1.42l-7,7a1,1,0,0,1-1.42,0l-7-7A1,1,0,0,1,5,8.5a1,1,0,0,1,.71.29L11,14.09A1.16,1.16,0,0,0,13,14.09Z' fill='#95A5A6' transform='translate(-4 -8.5)'/></svg>") right 10px center no-repeat;
  background-size: 20px 20px;
  -webkit-transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
  transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1); }
  .field--select:focus {
    outline: none; }
  .field--select:hover {
    background-image: url("data:image/svg+xml;utf8,<svg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 9'><path d='M13,14.09l5.29-5.3a1,1,0,0,1,1.42,1.42l-7,7a1,1,0,0,1-1.42,0l-7-7A1,1,0,0,1,5,8.5a1,1,0,0,1,.71.29L11,14.09A1.16,1.16,0,0,0,13,14.09Z' fill='#34495E' transform='translate(-4 -8.5)'/></svg>");
    background-color: #bdc3c7; }

.field--select_dark {
  background-color: #ECF0F1; }

.field_range {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%; }
  .field_range:focus {
    outline: none; }
    .field_range:focus::-webkit-slider-runnable-track {
      border-color: #2ecc71; }
  .field_range::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: #7F8C8D;
    border-radius: 5px;
    border: 2px solid white; }
  .field_range::-webkit-slider-thumb {
    border: 2px solid white;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background: #2ecc71;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -12px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5); }

.colourpicker {
  padding: 5px 0; }

.colourpicker--colour {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
  transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1); }
  .colourpicker--colour .check {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 40px;
    border: 2px solid white; }
  .colourpicker--colour:hover .check {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  .colourpicker--colour input {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .colourpicker--colour input:focus ~ .check {
      border-color: #bdc3c7;
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
    .colourpicker--colour input:checked ~ .check {
      border-color: #27AE60;
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }

.colourpicker--colour.colour--Red .check {
  background-color: #e74c3c; }

.colourpicker--colour.colour--Orange .check {
  background-color: #E67E22; }

.colourpicker--colour.colour--Yellow .check {
  background-color: #F1C40F; }

.colourpicker--colour.colour--Green .check {
  background-color: #2ecc71; }

.colourpicker--colour.colour--Blue .check {
  background-color: #3498DB; }

.colourpicker--colour.colour--Purple .check {
  background-color: #9B59B6; }

.colourpicker--colour.colour--Black .check {
  background-color: #34495E; }

.stars input {
  position: absolute;
  clip: rect(0, 0, 0, 0); }

.stars label {
  display: inline-block;
  padding-right: 50px;
  height: 40px;
  width: 40px;
  font-size: 30px;
  color: #95A5A6;
  font-family: 'climbicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer; }
  .stars label:hover {
    color: #F1C40F; }

.stars input:nth-child(1):checked ~ label:nth-of-type(-n + 1),
.stars input:nth-child(2):checked ~ label:nth-of-type(-n + 2),
.stars input:nth-child(3):checked ~ label:nth-of-type(-n + 3),
.stars input:nth-child(4):checked ~ label:nth-of-type(-n + 4),
.stars input:nth-child(5):checked ~ label:nth-of-type(-n + 5) {
  color: #F1C40F; }

.stars input:nth-child(1):hover ~ label:nth-of-type(-n + 1),
.stars input:nth-child(2):hover ~ label:nth-of-type(-n + 2),
.stars input:nth-child(3):hover ~ label:nth-of-type(-n + 3),
.stars input:nth-child(4):hover ~ label:nth-of-type(-n + 4),
.stars input:nth-child(5):hover ~ label:nth-of-type(-n + 5) {
  color: #F1C40F; }

.routes--list {
  background-color: white;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  position: relative; }
  .routes--list.s-loading:before {
    content: "";
    width: 100%;
    height: 3px;
    display: block;
    background-color: #bdc3c7; }
  .routes--list.s-loading:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    height: 3px;
    background-color: #2ecc71;
    -webkit-animation-name: waitingslide;
            animation-name: waitingslide;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear; }

@-webkit-keyframes waitingslide {
  0% {
    left: 0;
    right: 100%; }
  50% {
    left: 0;
    right: 0; }
  100% {
    left: 100%;
    right: 0; } }

@keyframes waitingslide {
  0% {
    left: 0;
    right: 100%; }
  50% {
    left: 0;
    right: 0; }
  100% {
    left: 100%;
    right: 0; } }

.route {
  padding: 15px 30px;
  border-bottom: 1px solid #bdc3c7;
  cursor: pointer;
  -webkit-transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
  transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #34495E; }
  .route:hover {
    background-color: #ECF0F1; }
  .route:last-child {
    border-bottom: none; }

.route--data > * {
  vertical-align: middle; }

.route--colour {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin-left: 30px; }

.route.colour--Red .route--colour {
  background-color: #e74c3c; }

.route--colour_large.colour--Red {
  background-color: #e74c3c; }

.route.colour--Orange .route--colour {
  background-color: #E67E22; }

.route--colour_large.colour--Orange {
  background-color: #E67E22; }

.route.colour--Yellow .route--colour {
  background-color: #F1C40F; }

.route--colour_large.colour--Yellow {
  background-color: #F1C40F; }

.route.colour--Green .route--colour {
  background-color: #2ecc71; }

.route--colour_large.colour--Green {
  background-color: #2ecc71; }

.route.colour--Blue .route--colour {
  background-color: #3498DB; }

.route--colour_large.colour--Blue {
  background-color: #3498DB; }

.route.colour--Purple .route--colour {
  background-color: #9B59B6; }

.route--colour_large.colour--Purple {
  background-color: #9B59B6; }

.route.colour--Black .route--colour {
  background-color: #34495E; }

.route--colour_large.colour--Black {
  background-color: #34495E; }

.content--section {
  padding: 30px 0; }
  .content--section + .content--section {
    padding-top: 0; }

.content--square-block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  border-left: 1px solid #bdc3c7;
  border-right: 1px solid #bdc3c7; }
  .content--square-block:first-of-type, .content--square-block:last-of-type {
    border: none; }

.content--label {
  font-size: 14px;
  margin-top: 7px;
  margin-bottom: -7px;
  display: block;
  text-transform: uppercase;
  padding-bottom: 20px; }

.route--grade_large {
  font-size: 32px;
  margin-top: 1px;
  margin-bottom: -1px; }

.route--colour_large {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 25px; }

.h-float-left {
  float: left; }

.h-float-right {
  float: right; }

.h-vcenter {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.h-valign {
  vertical-align: middle; }

.h-ta-center {
  text-align: center; }

.h-ta-left {
  text-align: left; }

.h-ta-right {
  text-align: right; }

.h-overflow-hidden {
  overflow: hidden; }

.h-rel {
  position: relative; }

.h-abs-right {
  position: absolute;
  right: 0; }

.h-mt-100 {
  margin-top: 30px; }

.h-mb-100 {
  margin-bottom: 30px; }

.h-pb-50 {
  padding-bottom: 15px; }
